/*===============Body================*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;   
}

/*==========Application Container====*/
.app-container {
  background-color: lightgoldenrodyellow;
  margin: 0;
  padding: 0;
}

/*=============Content Area=========*/
.content {
  display: grid;
  grid-template-columns: 2fr 7fr;
  /* grid-template-rows:  40em 40em;   */
}

  /* For map failure */
h3 {
  text-align: center;
  color: red;
}

/*===============Map================*/
#map {
  height: 100vh;
}

.map-loading {
  color: crimson;
  font-size: 3em;
  text-align: center;
}

/*===============Header & Footer===========*/
h1 {
  font-size: 3em;
  text-align: center;
  color: green;
  font-weight: bold;
  font-style: italic;
  background-color: floralwhite;
  margin: 0;
  padding: 0.5em;
}

span {
  color: goldenrod;
}

footer {  
  font-size: 1em;
  text-align: center;
  color: green;
  font-weight: bold;
  font-style: italic;
  background-color: floralwhite;
  margin: 0;
  padding: 0.5em 0;
  overflow: hidden;
}

/*===============Search Bar================*/
.input-div {
  margin: 0;
  padding: 0;
  max-width: auto;
  overflow: hidden;
}

.search-bar{
  width: 100%;
  font-size: 1.5em;
  padding: 0.3em 0;
  margin: 0;  
  text-align: center;
  background-color: antiquewhite;
}


/*===============Side Menu================*/
h4 {
  text-align: center; 
  font-size: 2em;
  margin: 0 0 10px 0;
  padding: 2px;
  color: red;
  font-weight: bold;
  font-style: italic;
}

.side-bar {
  padding: 5px;
  border: 2px solid rgba(10,50,100,0.5);
  background-color: rgba(100,100,100,0);
  font-size: 0.8em;
}


ol {
 overflow-y: scroll;  
 height: 40em;
}

ol li {
  padding: 5px 0;
  text-align: left;   
  font-size: 1em;
} 


/*==============Media Queries=============*/
@media screen and (max-width: 720px){
  .content {
    display: grid;
    grid-template-columns: repeat(auto auto);
    grid-template-rows: auto auto;
  }
}