/*
  My Styles
*/

#map {
  height: 100vh;
  /* max-width: 75%; */
  background-color: rgba(190, 213, 241, 0.3);
}

.map-loading {
  color: crimson;
  font-size: 40px;
  text-align: center
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;   
}

/*
.listings-title {
  text-align: center;
  color: azure;
/* }

h1 {
  background-color: rgba(10,50,100,0.5);
  margin: 0;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
} */

.side-bar {
  /* margin-top: 63px; */
  max-width: 85%;
  height: 100%;
  float: left; 
  padding: 10px;
  border: 2px solid rgba(10,50,100,0.5);
  background-color: gold;
  /* position: fixed;
  top: 50;
  left: 0; */
  /* display: block;
  z-index: 100; */
}

/* .venu-list {
  max-width: 50%;
} */